
h1 {
    color:#364460;
    font-family: 'Arvo', serif;
}

h2 {
font-family: 'Arvo', serif;
color:#364460;
}


h4 {
    color:#364460;
    font-family: 'Arvo', serif;
    

}

h5 {
    color:#364460;
    font-family: 'Arvo', serif;
    font-size: 24px;
    font-style: italic;
}

h6 {
    color:#364460;
    font-family: 'Arvo', serif;
    font-size: 14px;
   }

a {
    color: #aa18ad;
    text-decoration: none;
}


a:hover{
    color: #CECCCC;
}

a h1{
    color: #aa18ad;
    text-decoration: none;
}

#column-wrap {
    overflow: hidden; 
}

.intro {
    background: #ffffff;
    padding: 35px;
      margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.portrait{
    background-color: #b2b2b2;
    height: 700px;
    background-image: url("ariel.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
/* no-gutters Class Rules */
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

.navbar-brand{
    font-family: 'Arvo', serif;
    color:#466368;
    font-size: 24px;
}


.btn-primary {
    color: #fff;
    background-color: #ff304f;
    border-color: #ff304f;
    box-shadow: 0px 0px 2px #333;
}
.btn-primary:hover {
    background-color: #25237a;
    border-color: #25237a;
}
p .lead {
  color: #323438;
}
.panel-primary> .panel-heading {
    color: #fff;
    background-color: #118df0;
    border-color: #118df0;
}
.btn-success {
    color: #fff;
    background-color: #ff304f;
    border-color: #ff304f;
    box-shadow: 0px 0px 2px #333;
}
.btn-success:hover {
    background-color: #25237a;
    border-color: #25237a;
}
.panel-primary {
    border-color: #118df0;
    background-color: #f5f5f5;
}

.footer{
    font-family: 'Arvo', serif; 
    font-size: 10px;
}

/* navbar */
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    font-family: 'Arvo', serif;
    font-size: 18px;
    color:#364460;
}


.navbar-default .navbar-nav>li>a{
  color:#364460;
}
.navbar-default .navbar-nav>li>a:hover{
  color:#aa18ad;
}


.navbar-default .navbar-brand {
    color: #aa18ad;
}

.navbar-default h1{
    font-style: 700;
}

}
    .navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #364460;
}


.list-group-item-info {
  color: #ffffff;
  background-color: #ff304f;
}

body {
  margin: 0;
  padding-top:55px;


